langchain
google-generativeai
streamlit
langchain-google-genai
faiss-cpu
fastapi
uvicorn
pydantic
python-dotenv
python-multipart
PyPDF2
unstructured
python-magic-bin
youtube_transcript_api
llama-index
pypdf

python-jose[cryptography] 
passlib